body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
    height: 100vh;
    background: linear-gradient(
      0deg,
      rgb(45, 45, 46) 0%,
      rgb(112, 177, 39) 100%
    );
  }

  h1 {
    margin: 0px;
    margin-bottom: 10px;
    font-size: 2.9em;
    color: white;
  }

  .player {
    background: pink;
    height: 100px;
    width: 100px;
  }

  p {
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    color: white;
    border: 0.25rem rgb(113, 165, 165) solid;
    border-radius: 50px;
    padding: 5px;
    background-color: rgb(51, 51, 51);
  }